<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
 
<mapper namespace='application.mappers.CarMapper'>
 
  <resultMap type='application.vo.CarVO' id='CarResult'>
    <id property='carId' column='carId'/>
    <result property='carStatus' column='carStatus'/>
    <result property='destLati' column='destLati'/>  
    <result property='destLong' column='destLong'/>  
   </resultMap>
 
  <select id='getAllCars' resultMap='CarResult'>
   SELECT carId,carStatus,nvl(destLati,0) destLati,nvl(destLong,0) destLong  
	FROM Car
	WHERE carStatus='00'
  </select>
  <select id="getCarSel" resultType="carvo">
  SELECT carid FROM Car
   WHERE carStatus='00' and rownum = 1
  </select>
  <update id="setCarLocation">
  UPDATE Car
  SET destlati=#{destlati},
  destlong=#{destlong}
  WHERE carid=#{carid}
  </update>
  <update id="setCarStatus" parameterType="hashMap">
  UPDATE Car
  SET carstatus=#{carstatus},
  moddate=SYSDATE
  WHERE carid=#{carid}
  </update>
 
</mapper>